/*
Acordeon de bootstrap 
*/

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
/*    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); */
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
/*    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); */
    color: #454444;
<<<<<<< HEAD
}
=======
}

.navbar-transoil{
    background-image: linear-gradient(#F58723 50%, #EEC6438f 95%) !important;
}

/*Hola soy Julian este es mi trabajo de 8 horas espero que no se borre*/


/*Codigo aun mas nuevo*/

/*askljfhaslkdfjh hoal hola ola*/
>>>>>>> 1075f7adec4f5c6efadcf97ae9b1f69fa88d9d02
