/*Etiquetas comunes*/
a{
    color: #f58f29 !important;  
}

/*Elementos generales a todas las paginas */
/* dropdown menu propio */
.menu-transoil a{
    color: black !important;
}

.dropbtnTransoil {
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdownTransoil {
    position: relative;
    display: inline-block;
    color: black;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  .dropdown:hover .dropdown-content {
    display: block;
  }

    /*footer transoil*/
    .footer-transoil{
        background-color: #141414;
        color: white;
    }

    .footer-transoil a{
        color: #f58f29;
    }

    /*Header transoil*/

    .header-transoil{
        height: 7%;
        width: 100%;
        background-color: #141414;
    }

    .header-transoil h2{
        color: white !important;
    }

    .header-transoil p{
        color: white;
        padding-left: 1%;
    }


/*Elementos de paginas concretas*/

/* index.html */
/* jumbotron transoil */
.resumen-transoil a{
    color: white !important;
    background-color: #F58723 !important;
    border-color: #F58723 !important;
}

.resumen-transoil a:hover{
    background-color: #db6f0a !important;
}

/* faq.html */
/*Acordeon transoil*/
.acordeon-transoil h2{
    color: #f58f29 !important;
}
.acordeon-transoil a{
    color: black !important;
}

/*Acordeon de bootstrap */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f078"; 
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;

    /*rotate "play" icon from > (right arrow) to down arrow*/
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); 
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    color: #454444;
}

/*protocolo.html*/
.protocolo-transoil h2{
    color: #F58723;
}